<% layout('layouts/boilerplate') %>
<h1>All Campgrounds</h1>

<h4><a href="/campgrounds/New">Create New</a></h4>

<ul>
  <%for (let campground of campgrounds) { %>
  <li>
    <a href="/campgrounds/<%=campground._id%>"> <%=campground.title %> </a>
  </li>
  <% } %>
</ul>
